<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Lead</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list style="text-align: center !important;">

    <ion-item>
      <ion-label floating>First name</ion-label>
      <ion-input [(ngModel)]="firstName"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Last name</ion-label>
      <ion-input [(ngModel)]="lastName"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Email id</ion-label>
      <ion-input [(ngModel)]="emailId" type="email"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Contact number</ion-label>
      <ion-input [(ngModel)]="contactNo" type="tel" maxlength=10></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Address Line 1</ion-label>
      <ion-input [(ngModel)]="address1" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Address Line 2</ion-label>
      <ion-input [(ngModel)]="address2" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Address Line 3</ion-label>
      <ion-input [(ngModel)]="address3" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Group name</ion-label>
      <ion-select [(ngModel)]="groupname" interface="popover">
        <p *ngFor="let group of pkglist">
          <ion-option [value]="group['groupname']">
            {{group['groupname']}}
          </ion-option>
        </p>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Zone name</ion-label>
      <ion-select [(ngModel)]="zonename" interface="popover">
        <p *ngFor="let zone of zonelist">
          <ion-option [value]="zone['zonename']">
            {{zone['zonename']}}
          </ion-option>
        </p>
      </ion-select>
    </ion-item>
   
    <ion-item>
      <ion-label floating>Payment Amount</ion-label>
      <ion-input [(ngModel)]="paymentamount"  type="tel"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label floating>Source of lead</ion-label>
      <ion-input [(ngModel)]="source" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Preferred call time</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="D/MM/YYYY HH:mm" [(ngModel)]="preferredCallTime"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label floating>Closure time</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="D/MM/YYYY HH:mm" [(ngModel)]="closureTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Comment</ion-label>
      <ion-textarea [(ngModel)]="comment"  rows="8" cols="20"></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col><button ion-button outline (click)="addPicture(false)">Take Picture &nbsp;<ion-icon name="camera" ></ion-icon></button></ion-col>
      <ion-col><button ion-button outline (click)="addPicture(true)">Select Image &nbsp;<ion-icon name="image" ></ion-icon></button></ion-col>
    </ion-row>

    <ion-row *ngIf="!dataValidation.isEmptyJson(imageView)">
      <ion-col>
        <img [src]="view" class="img-resp" />
      </ion-col>
    </ion-row>

    <!-- <ion-row *ngIf="!dataValidation.isEmptyJson(images)">
      <ion-col style="text-align: left !important;" >
        <span *ngFor="let image of images">
          <img [src]="image" class="img-resp" />
      </span>
      </ion-col>
    </ion-row> -->

  <p style="text-align: center !important;">
    <button ion-button round outline (click)="createLead()">Create Lead</button>
  </p>

  </ion-list>

</ion-content>
