page-filter-lead-management {

.filter-sub-header{  margin:0px !important; padding:8px !important; background-color: #ddd !important; color: #919191 !important; font-weight: 600 !important; font-size: 12px !important; margin: 1px !important;}
.item-md{padding: 0px !important;}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md{ padding-left: 10px !important;}
.item.item-md .checkbox-md{ margin: 0px !important;}
.checkbox-ios{ padding-left: 5px !important;}
.checkbox-ios .checkbox-icon { 
    border-radius: 50%;
    /* position: relative; */
    width: 21px;
    height: 21px;
    /* border-width: 1px; */
    border-style: solid;
    border-color: #c8c7cc;
}

.checkbox-ios .checkbox-checked { 
    border-color: #488aff;
    color:#fff !important;
    background-color: #444;
}
}