<ion-header>
  <ion-navbar>
    <ion-title>Filter Leads</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <p class="filter-sub-header">
    <ion-row>
      <ion-col>Search by lead id</ion-col>
      <ion-col style="text-align: right !important;" class="nopadding"><ion-checkbox mode="ios" [(ngModel)]="filterOptions['SearchByLeadId']" (ionChange)="disableOtherOptions('SearchByLeadId')"></ion-checkbox></ion-col>
    </ion-row>
  </p>
  <p class="nomargin" *ngIf="filterOptions['SearchByLeadId']">
    <ion-item>
      <ion-label>Label Id</ion-label>
      <ion-input [(ngModel)]="leadId"></ion-input>
    </ion-item>
  </p>



  <p class="filter-sub-header">
    <ion-row>
      <ion-col>Search by status</ion-col>
      <ion-col style="text-align: right !important;" class="nopadding"><ion-checkbox mode="ios" [(ngModel)]="filterOptions['SearchByStatus']" (ionChange)="disableOtherOptions('SearchByStatus')"></ion-checkbox></ion-col>
    </ion-row>
  </p>
  <p class="nomargin" *ngIf="filterOptions['SearchByStatus']">  
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select interface="popover" [(ngModel)]="status">
        <ion-option value="CLOSE">Close</ion-option>
        <ion-option value="OPEN">Open</ion-option>
      </ion-select>
    </ion-item>
  </p>



  <p class="filter-sub-header">
    <ion-row>
      <ion-col>Search by priority</ion-col>
      <ion-col style="text-align: right !important;" class="nopadding"><ion-checkbox mode="ios" [(ngModel)]="filterOptions['SearchByPriority']" (ionChange)="disableOtherOptions('SearchByPriority')"></ion-checkbox></ion-col>
    </ion-row>
  </p>
  <p class="nomargin" *ngIf="filterOptions['SearchByPriority']">
    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-select interface="popover" [(ngModel)]="priority">
        <ion-option value="HIGH">High</ion-option>
        <ion-option value="LOW">Low</ion-option>
      </ion-select>
    </ion-item>
  </p>



  <p class="filter-sub-header">
    <ion-row>
      <ion-col>Search by contact number</ion-col>
      <ion-col style="text-align: right !important;" class="nopadding"><ion-checkbox mode="ios" [(ngModel)]="filterOptions['SearchByContactNo']" (ionChange)="disableOtherOptions('SearchByContactNo')"></ion-checkbox></ion-col>
    </ion-row>
  </p>
  <p class="nomargin" *ngIf="filterOptions['SearchByContactNo']">
    <ion-item>
      <ion-label>Contact number</ion-label>
      <ion-input type="tel" maxlength="10" [(ngModel)]="contactNumber"></ion-input>
    </ion-item>
  </p>




  <p class="filter-sub-header">
    <ion-row>
      <ion-col>Search by lead create date</ion-col>
      <ion-col style="text-align: right !important;" class="nopadding"><ion-checkbox mode="ios" [(ngModel)]="filterOptions['SearchByLeadCreateDate']" (ionChange)="disableOtherOptions('SearchByLeadCreateDate')"></ion-checkbox></ion-col>
    </ion-row>
  </p>
  <p class="nomargin" *ngIf="filterOptions['SearchByLeadCreateDate']">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>From Date</ion-label>
          <ion-datetime displayFormat="D - MMM, YYYY" pickerFormat="YYYY-MM-DD" [(ngModel)]="createStartDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>To Date</ion-label>
          <ion-datetime displayFormat="D - MMM, YYYY" pickerFormat="YYYY-MM-DD" [(ngModel)]="createEndDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </p>



  <p class="filter-sub-header">
    <ion-row>
      <ion-col>Search by closer date</ion-col>
      <ion-col style="text-align: right !important;" class="nopadding"><ion-checkbox mode="ios" [(ngModel)]="filterOptions['SearchByCloserDate']" (ionChange)="disableOtherOptions('SearchByCloserDate')"></ion-checkbox></ion-col>
    </ion-row>
  </p>
  <p class="nomargin" *ngIf="filterOptions['SearchByCloserDate']">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>From Date</ion-label>
          <ion-datetime displayFormat="D - MMM, YYYY" pickerFormat="YYYY-MM-DD" [(ngModel)]="closerStartDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>To Date</ion-label>
          <ion-datetime displayFormat="D - MMM, YYYY" pickerFormat="YYYY-MM-DD" [(ngModel)]="closerEndDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </p>



  <p class="filter-sub-header">
    <ion-row>
      <ion-col>Search by pop/zone name</ion-col>
      <ion-col style="text-align: right !important;" class="nopadding"><ion-checkbox mode="ios" [(ngModel)]="filterOptions['SearchByPopZoneName']" (ionChange)="disableOtherOptions('SearchByPopZoneName')"></ion-checkbox></ion-col>
    </ion-row>
  </p>
  <p class="nomargin" *ngIf="filterOptions['SearchByPopZoneName']">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Zonename</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Popname</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </p>
  

</ion-content>


<ion-footer>
  <ion-row>
    <ion-col col-6 style="text-align: center !important; background-color: #fff !important; border-right: 1px solid #ddd !important;"> 
      <button ion-button clear disabled=true>Reset</button>
    </ion-col>
    <ion-col col-6 style="text-align: center !important;"> 
      <button ion-button clear (click)="searchUsingFilter()">Apply</button>
    </ion-col>
  </ion-row>
</ion-footer>