
<ion-content padding class="popup">






    
  <p style="text-align: center !important; color: #919191; margin-top:35% !important" *ngIf='dataValidation.isEmptyJson(leadTicketData)'>
    <ion-spinner name="bubbles"></ion-spinner>
  </p>
  <p style="text-align: center !important; color: #919191;" *ngIf='dataValidation.isEmptyJson(leadTicketData)'>
    Loading the lead detail ...
  </p>

  <ion-grid *ngIf="!dataValidation.isEmptyJson(leadTicketData)">
    <ion-row>
      <ion-col style="margin-top: 12px !important; font-size: 18px !important; color:rgb(31, 115, 250) !important;">Lead Id : {{leadTicketData['leadid']}}</ion-col>
      <ion-col style="text-align: right !important;"><button ion-button clear (click)="navCtrl.pop()"><ion-icon name="close-circle"></ion-icon></button></ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="!dataValidation.isEmptyJson(leadTicketData)">
    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">First name</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['firstname']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Last name</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['lastname']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Source</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['source']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">State</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['state']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">City</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['city']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Country</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['country']}}</ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Zipcode</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['zipcode']}}</ion-col>
    </ion-row>
        
    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Contact number</ion-col>
      <ion-col col-7 style="color: #919191 !important;"><a href="tel:leadTicketData['contactno']" style="text-decoration: none !important;">{{leadTicketData['contactno']}}</a></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Email id</ion-col>
      <ion-col col-7 style="color: #919191 !important;"><a href="mailto:leadTicketData['emailid']" style="text-decoration: none !important;">{{leadTicketData['emailid']}}</a></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Address line 1</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['address1']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Address line 2</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['address2']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Address line 3</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['address3']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Comment</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['comment']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Latitude</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['latitude']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Longitude</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['longitude']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Preferred call time</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['preferredcalltime']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Payment amount</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['paymentamount']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Status</ion-col>
      <ion-col col-7 style="color: #919191 !important;"><ion-badge>{{leadTicketData['status']}}</ion-badge></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Create date</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['createdate']}}</ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Modify date</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['modifydate']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Created by</ion-col>
      <ion-col col-7 style="color: #919191 !important;">{{leadTicketData['createdby']}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style=" color:rgb(31, 115, 250) !important; font-weight: 600 !important;">Priority</ion-col>
      <ion-col col-7 style="color: #919191 !important;"><ion-badge>{{leadTicketData['priority']}}</ion-badge></ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
