<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lead Management</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<p style="text-align: center !important; color: #919191;" *ngIf='dataValidation.isEmptyJson(leads) && !emptyLead'>
  <ion-spinner name="bubbles"></ion-spinner>
</p>
<p style="text-align: center !important; color: #919191;" *ngIf='dataValidation.isEmptyJson(leads) && !emptyLead'>
  Loading the leads ...
</p>

<p style="text-align: center !important; margin-top:30% !important" *ngIf="emptyLead">
  <img src="../../assets/imgs/empty.svg" style="width:  45px !important; height: 45px !important;" />
  <br/>
  <span style="color: #aaa !important; font-weight: 500 !important; margin-top: 10px !important"> No records found !!!</span>
</p>
  

<ion-list *ngIf='!dataValidation.isEmptyJson(leads)'>

  <ion-item *ngFor='let lead of leads'>
  <p style="font-size: 15px !important; color:rgb(31, 115, 250) !important; font-weight: 800 !important;">{{lead['firstname']}}</p>
  <p style="font-size: 12px !important; color: #919191 !important;">{{lead['lastname']}}
    <span style="float: right !important;"><ion-badge color="dark" style="font-size: 10px !important;">{{lead['source']}}</ion-badge></span>
    <span style="float: right !important;margin-right: 4px !important"><ion-badge color="danger" style="font-size: 10px !important;">{{lead['status']}}</ion-badge></span>
  </p>
  <p style="font-size: 10px !important;">
  <span><a href="tel:{{lead['contactno']}}" style="text-decoration: none !important;"> <ion-icon name="call"></ion-icon> {{lead['contactno']}}</a></span>
  &nbsp;&nbsp;
  <span><a href="tel:{{lead['emailid']}}" style="text-decoration: none !important;"> <ion-icon name="mail"></ion-icon> {{lead['emailid']}}</a></span>
  </p>
  <p style="text-align: justify !important; font-size: 12px !important; color: #777 !important;" text-wrap>
       {{lead['comment']}}
  </p>
  </ion-item>
</ion-list>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-6 style="text-align: center !important; background-color: #fff !important; border-right: 1px solid #ddd !important;"> 
      <button ion-button clear disabled=true>Sort</button>
    </ion-col>
    <ion-col col-6 style="text-align: center !important;"> 
      <button ion-button clear (click)="navCtrl.push('FilterLeadManagementPage')">Filter</button>
    </ion-col>
  </ion-row>
</ion-footer>
